.RoundTable {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #000000;
	border-bottom-color: #000000;
}
.RoundTable td, th {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-left-color: #000000;
}
.RoundTable_total {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
}
.QuizTable_total {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-bottom-color: #000000;
}
.title {
	font-size: 36px;
	font-weight: bolder;
	font-family: "Comic Sans MS";
	color: #FF0000;
}
h1 {
	font-size: 22px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
}
.htitle {
	font-style: italic;
	color: #0000FF;
}
.no_htitle {
	font-style: normal;
	color: #000000;
}
.footer {
	/*position: absolute;
	bottom: 0;*/
	font-size: 12px;
	font-weight: bold;
}
.cellunderline {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}
